.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* YourComponent.css or global CSS file */

/* Media query for mobile devices */
@media (max-width: 768px) {
  .btn-group {
    margin-bottom: 4px;
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    text-align: center; /* Center-align buttons */
  }
  
  .plot-container {
    justify-content: center;
    width: 400px; /* Full width for the plot */
    height: 400px; /* Adjust the height as needed for mobile view */
  }
}

